@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-shadow--6dp centered error-box">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">
            Sorry, but the page you are looking for doesn’t exist.
        </div>
    </div>
</div>
