<div>
    <div class="mdl-tabs mdl-js-tabs">
        <div class="mdl-tabs__tab-bar">
            <a href="#map-panel" class="mdl-tabs__tab is-active">Tab 1</a>
            <a href="#details-panel" class="mdl-tabs__tab">Tab 2</a>            
        </div>
        <div class="mdl-tabs__panel" id="map-panel">
            <p>Map:</p>
            <div id="trip-map" style="width: 500px; height: 500px;"></div>
        </div>
        <div class="mdl-tabs__panel" id="details-panel">
            <p>Details:</p>            
        </div>        
    </div>    
</div>

<script src="/Assets/Scripts/pages/AddNewTrip/addNewTrip.js"></script>
<script src="/Assets/Scripts/pages/iscroll-initialization.js"></script>