<div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-shadow--4dp">
        <div class="mdl-card__media">
            <div class="map" style="width: 405px; height: 300px;">52.21454000000001,0.14044490000003407,13</div>
        </div>
        <div class="mdl-card__supporting-text">
            Suhiv - Naukova - Akvapark - Storogenka - Epam - Naukova - Akvapark - Storogenka - Epam.
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 trip-info">
            <div class="mdl-grid mdl-grid--no-spacing ">
                <div class="mdl-cell mdl-cell--4-col price">15 грн.</div>
                <div class="mdl-cell mdl-cell--8-col mdl-typography--text-right thumb-up">
                    <i class="material-icons md-18">thumb_up</i>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-shadow--4dp">
        <div class="mdl-card__media">
            <div class="map" style="width: 405px; height: 300px;">42.21454000000001,0.14044490000003407,13</div>
        </div>
        <div class="mdl-card__supporting-text">
            Suhiv - Naukova - Akvapark - Storogenka - Epam.
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 trip-info">
            <div class="mdl-grid mdl-grid--no-spacing ">
                <div class="mdl-cell mdl-cell--4-col price">12 грн.</div>
                <div class="mdl-cell mdl-cell--8-col mdl-typography--text-right thumb-up">
                    <i class="material-icons md-18">thumb_up</i>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-shadow--4dp">
        <div class="mdl-card__media">
            <div class="map" style="width: 405px; height: 300px;">55.21454000000001,0.54044490000003407,3</div>
        </div>
        <div class="mdl-card__supporting-text">
            Suhiv - Naukova - Akvapark - Storogenka - Epam - Naukova - Akvapark - Storogenka - Epam.
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 trip-info">
            <div class="mdl-grid mdl-grid--no-spacing ">
                <div class="mdl-cell mdl-cell--4-col price">18 грн.</div>
                <div class="mdl-cell mdl-cell--8-col mdl-typography--text-right thumb-up">
                    <i class="material-icons md-18">thumb_up</i>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-shadow--4dp">
        <div class="mdl-card__media">
            <div class="map  mdl-cell--4-col" style="width: 405px; height: 300px;">42.21454000000001,0.14044490000003407,13</div>
        </div>
        <div class="mdl-card__supporting-text">
            Suhiv - Naukova - Akvapark - Storogenka - Epam.
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 trip-info">
            <div class="mdl-grid mdl-grid--no-spacing ">
                <div class="mdl-cell mdl-cell--4-col">22 грн.</div>
                <div class="mdl-cell mdl-cell--8-col mdl-typography--text-right thumb-up">
                    <span><i class="material-icons md-18">thumb_up</i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-shadow--4dp">
        <div class="mdl-card__media">
            <div class="map" style="width: 405px; height: 300px;">52.21454000000001,0.14044490000003407,13</div>
        </div>
        <div class="mdl-card__supporting-text">
            Suhiv - Naukova - Akvapark - Storogenka.
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 trip-info">
            <div class="mdl-grid mdl-grid--no-spacing ">
                <div class="mdl-cell mdl-cell--4-col price">5 грн.</div>
                <div class="mdl-cell mdl-cell--8-col mdl-typography--text-right thumb-up">
                    <i class="material-icons md-18">thumb_up</i>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-shadow--4dp">
        <div class="mdl-card__media">
            <div class="map" style="width: 405px; height: 300px;">52.21454000000001,0.14044490000003407,13</div>
        </div>
        <div class="mdl-card__supporting-text">
            Suhiv - Naukova - Akvapark - Storogenka2.
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 trip-info">
            <div class="mdl-grid mdl-grid--no-spacing ">
                <div class="mdl-cell mdl-cell--4-col price">5 грн.</div>
                <div class="mdl-cell mdl-cell--8-col mdl-typography--text-right thumb-up">
                    <i class="material-icons md-18">thumb_up</i>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-shadow--4dp">
        <div class="mdl-card__media">
            <div class="map" style="width: 405px; height: 300px;">52.21454000000001,0.14044490000003407,13</div>
        </div>
        <div class="mdl-card__supporting-text">
            Suhiv - Naukova - Akvapark - Storogenka.
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 trip-info">
            <div class="mdl-grid mdl-grid--no-spacing ">
                <div class="mdl-cell mdl-cell--4-col price">5 грн.</div>
                <div class="mdl-cell mdl-cell--8-col mdl-typography--text-right thumb-up">
                    <i class="material-icons md-18">thumb_up</i>
                </div>
            </div>
        </div>
    </div>
</div>

<!--PAGINATION-->
<ul class="pagination">
    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
    <li class="active mdl-shadow--4dp"><a href="#">1</a></li>
    <li class="waves-effect"><a href="#">2</a></li>
    <li class="waves-effect"><a href="#">3</a></li>
    <li class="waves-effect"><a href="#">4</a></li>
    <li class="waves-effect"><a href="#">5</a></li>
    <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
</ul>

<script src="/Assets/Scripts/pages/TripList/google-map-initialization.js"></script>
