<span class="mdl-layout-title mdl-shadow--4dp">
    <img class="logo-image" src="/Assets/Images/logo.png">
</span>

<nav class="mdl-navigation">
    <a class="mdl-navigation__link header-menu-link" ng-href="/Trips">Trips</a>
    <a class="mdl-navigation__link header-menu-link" ng-href="/Drivers">Drivers</a>
    <a class="mdl-navigation__link header-menu-link" ng-href="/Passengers">Passengers</a>
    <div class="drawer-separator"></div>
    <a class="mdl-navigation__link header-menu-link" ng-href="/About">About</a>
    <a class="mdl-navigation__link header-menu-link" ng-href="/Contacts">Contacts</a>
</nav>