<form name="tripForm">
    <div id="add-new-trip-container" ng-controller="TripController as tripVm">
        <div class="mdl-grid">
            <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col" hover-class="mdl-shadow--24dp">
                <div class="mdl-card__title mdl-color--accent">
                    <div class="mdl-card__title-text mdl-color-text--white">
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                Way info
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-typography--text-right thumb-up">
                                <i class="material-icons md-36 mdl-color-text--white">directions</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-card__supporting-text wide-card mdl-grid">
                    <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                        <md-input-container class="md-icon-float md-block md-small-spacing">
                            <label>From</label>
                            <md-icon class="material-icons">adjust</md-icon>
                            <input id="origin-point"
                                   placeholder=""
                                   type="text"
                                   name="originPoint"                                   
                                   ng-model="tripVm.trip.Origin.Address"
                                   ng-change="tripVm.onOriginAddressChange()"
                                   is-valid="tripVm.trip.Origin.IsValid"
                                   required>
                            <div ng-messages="tripForm.originPoint.$error">
                                <div ng-message="required">Origin point is required.</div>
                                <div ng-message="is-valid">Origin point is not valid.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block md-small-spacing"
                                            ng-repeat="wayPoint in tripVm.trip.WayPoints">
                            <md-icon class="material-icons" ng-click="tripVm.deleteWayPoint($index)">clear</md-icon>
                            <input type="text" ng-model="tripVm.trip.WayPoints[$index].Address" required disabled>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block md-small-spacing">
                            <label>To</label>
                            <md-icon class="material-icons">place</md-icon>
                            <input id="destination-point"
                                   placeholder=""
                                   type="text"
                                   name="destinationPoint"
                                   ng-model="tripVm.trip.Destination.Address"
                                   ng-change="tripVm.onDestinationAddressChange()"
                                   is-valid="tripVm.trip.Destination.IsValid"
                                   required>
                            <div ng-messages="tripForm.destinationPoint.$error">
                                <div ng-message="required">Destination point is required.</div>
                                <div ng-message="is-valid">Destination point is not valid.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block md-small-spacing" ng-show="tripVm.isOriginAndDestinationValid()">
                            <label>Add way point</label>
                            <md-icon class="material-icons">add_circle</md-icon>
                            <input id="way-point" placeholder="" type="text" ng-model="tripVm.trip.WayPointToAdd">
                        </md-input-container>
                    </div>
                    <div id="trip-map" class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--8-col-phone wide-map"></div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet" hover-class="mdl-shadow--24dp">
                    <div class="mdl-card__title mdl-color--accent">
                        <div class="mdl-card__title-text mdl-color-text--white">
                            <div class="mdl-grid mdl-grid--no-spacing">
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                    Trip info
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-typography--text-right thumb-up">
                                    <i class="material-icons md-36 mdl-color-text--white">group</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-card__supporting-text mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                            <md-input-container class="md-icon-float md-block">
                                <label>Seats</label>
                                <md-icon class="material-icons">airline_seat_recline_normal</md-icon>
                                <input type="number"
                                       step="any"
                                       name="seatsNumber"
                                       ng-model="tripVm.trip.Seats"
                                       min="1"
                                       max="100"
                                       required>
                                <div ng-messages="tripForm.seatsNumber.$error">
                                    <div ng-message="required">Number of seats is required.</div>
                                    <div ng-message="number">Not valid number.</div>
                                    <div ng-message="max">Number of seats should be less than 100</div>
                                    <div ng-message="min">Number of seats should be greater than 1</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                            <md-input-container class="md-icon-float md-block">
                                <label>Price</label>
                                <md-icon class="material-icons">account_balance_wallet</md-icon>
                                <input type="text"
                                       name="price"
                                       ng-model="tripVm.trip.Price"
                                       ui-money-mask="0"
                                       min="0"
                                       max="99999"
                                       currency-symbol="&#8372;"
                                       required/>
                                <div ng-messages="tripForm.price.$error">
                                    <div ng-message="required">Price is required.</div>                                    
                                    <div ng-message-exp="['max', 'min']">Price should be between 0 and 99,999 &#8372;</div>                                    
                                </div>
                            </md-input-container>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col">
                            <md-input-container class="md-icon-float md-block">
                                <md-icon class="material-icons">access_time</md-icon>
                                <input mdc-datetime-picker
                                       id="datetime"
                                       name="tipDateTime"
                                       type="text"     
                                       date="true"
                                       time="true"                                                                         
                                       class="md-input"
                                       placeholder="Date & Time"
                                       min-date="tripVm.dateOpts.currentDate"
                                       ng-model="tripVm.trip.StartDateTime"
                                       required>
                                <div ng-messages="tripForm.tipDateTime.$error">
                                    <div ng-message="required">Date & Time are required.</div>                                    
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell--12-col-desktop mdl-cell--1-col-tablet mdl-cell--12-col-phone">
                    <br />
                </div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--3-col-tablet" hover-class="mdl-shadow--24dp">
                    <div class="mdl-card__title mdl-color--accent">
                        <div class="mdl-card__title-text mdl-color-text--white">
                            <div class="mdl-grid mdl-grid--no-spacing">
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                    Vehicle info
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-typography--text-right thumb-up">
                                    <i class="material-icons md-36 mdl-color-text--white">directions_car</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-card__supporting-text mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                            <md-input-container class="md-block">
                                <label>Manufacturer</label>
                                <input type="text"
                                       name="manufacturer"
                                       ng-model="tripVm.trip.Vehicle.Manufacturer"
                                       ng-minlength="3"
                                       required>
                                <div ng-messages="tripForm.manufacturer.$error">
                                    <div ng-message="required">Manufacturer is required.</div>
                                    <div ng-message="minlength">Manufacturer must have at least 3 characters.</div>                                    
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Color</label>
                                <input type="text"
                                       name="color"
                                       ng-model="tripVm.trip.Vehicle.Color"
                                       required>
                                <div ng-messages="tripForm.color.$error">
                                    <div ng-message="required">Color is required.</div>                                    
                                </div>
                            </md-input-container>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                            <md-input-container class="md-block">
                                <label>Model</label>
                                <input type="text"
                                       name="model"
                                       ng-model="tripVm.trip.Vehicle.Model"
                                       required>
                                <div ng-messages="tripForm.model.$error">
                                    <div ng-message="required">Model is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Year</label>
                                <input type="number"
                                       name="year"
                                       step="any"
                                       ng-model="tripVm.trip.Vehicle.Year"
                                       ng-max="{{tripVm.dateOpts.maxYear}}"
                                       ng-min="{{tripVm.dateOpts.minYear}}"
                                       required>
                                <div ng-messages="tripForm.year.$error">
                                    <div ng-message="required">Year is required.</div>
                                    <div ng-message-exp="['max', 'min']">Year should be between {{tripVm.dateOpts.minYear}} and {{tripVm.dateOpts.maxYear}}</div>                                                                        
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-typography--text-right">
                <button ng-click="tripVm.addTrip(tripForm)"
                        ng-disabled="tripForm.$invalid || !tripVm.isOriginAndDestinationValid()"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Add trip
                </button>
            </div>
        </div>
    </div>
</form>