<div class="mdl-grid" ng-controller="TripListController as tripListVm">

    <div ng-repeat="trip in tripListVm.trips" 
         class="mdl-card mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-phone mdl-cell--4-col-tablet mdl-shadow--4dp">
        <div class="mdl-card__media">
            <img ng-src="{{trip.StaticMapUrl}}" style="width: 100%; height: 100%"/>            
        </div>
        <div class="mdl-card__supporting-text">
            {{trip.Destination.Latitude}}
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 trip-info">
            <div class="mdl-grid mdl-grid--no-spacing ">
                <div class="mdl-cell mdl-cell--4-col price">{{trip.Price}} грн.</div>
                <!--<div class="mdl-cell mdl-cell--8-col mdl-typography--text-right thumb-up">
                    <i class="material-icons md-18">thumb_up</i>
                </div>-->
            </div>
        </div>
    </div>

    <a href="/TripAdd" id="add-trip" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                                     mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp">
        <i class="material-icons">add</i>
    </a>
</div>

<!--PAGINATION-->
<!--<ul class="pagination">
    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
    <li class="active mdl-shadow--4dp"><a href="#">1</a></li>
    <li class="waves-effect"><a href="#">2</a></li>
    <li class="waves-effect"><a href="#">3</a></li>
    <li class="waves-effect"><a href="#">4</a></li>
    <li class="waves-effect"><a href="#">5</a></li>
    <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
</ul>-->