<div class="drawer mdl-layout__drawer">
    <span class="mdl-layout-title mdl-shadow--4dp">
        <img class="logo-image" src="@Url.Content("~/Assets/Images/logo.png")">
    </span>

    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Trips</a>
        <a class="mdl-navigation__link" href="">Drivers</a>
        <a class="mdl-navigation__link" href="">Passengers</a>
        <div class="drawer-separator"></div>
        <a class="mdl-navigation__link" href="">About</a>
        <a class="mdl-navigation__link" href="">Contacts</a>
    </nav>
</div>
