<div class="drawer mdl-layout__drawer">
    <span class="mdl-layout-title mdl-shadow--4dp">
        <img class="logo-image" src="@Url.Content("~/Assets/Images/logo.png")">
    </span>

    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/Trips">Trips</a>
        <a class="mdl-navigation__link" href="/Drivers">Drivers</a>
        <a class="mdl-navigation__link" href="/Passengers">Passengers</a>
        <div class="drawer-separator"></div>
        <a class="mdl-navigation__link" href="/About">About</a>
        <a class="mdl-navigation__link" href="/Contacts">Contacts</a>
    </nav>
</div>

<script src="~/Assets/Scripts/pages/Partials/DrawerMenu.js"></script>