<div class="drawer mdl-layout__drawer"
     ng-controller="PartialDrawerMenuController as partialDrawerVm">
    
    <span class="mdl-layout-title mdl-shadow--4dp">
        <img class="logo-image" src="@Url.Content("~/Assets/Images/logo.png")">
    </span>

    <nav class="mdl-navigation" ng-repeat="block in partialDrawerVm.linkBlocks">
        <a class="mdl-navigation__link"
           ng-repeat="link in partialDrawerVm.linkBlocks[$index]"
           ng-click="partialDrawerVm.linkClick()"
           ng-href="{{link.url}}">
            {{link.displayName}}
        </a>
        <div class="drawer-separator"></div>
    </nav>
</div>