<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://catch-me.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>catch-me.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>catch-me</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$catch-me</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CatchMe.Repositories.EF.Concrete.CatchMeContext" Order="1" Enabled="False">
          <Destination Path="Data Source=catchme.database.windows.net;Initial Catalog=catchme;Persist Security Info=False;User ID=OrestTkachuk;Password=Nrfxer2219245;Pooling=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:catchme.database.windows.net,1433;Data Source=catchme.database.windows.net;Initial Catalog=catchme;Persist Security Info=False;User ID=OrestTkachuk;Password=Nrfxer2219245;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CatchMe.Repositories.EF.Concrete.CatchMeContext, CatchMe.Repositories.EF" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=catchme.database.windows.net;Initial Catalog=catchme;Persist Security Info=False;User ID=OrestTkachuk;Password=Nrfxer2219245;Pooling=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:catchme.database.windows.net,1433;Data Source=catchme.database.windows.net;Initial Catalog=catchme;Persist Security Info=False;User ID=OrestTkachuk;Password=Nrfxer2219245;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localDB)\v11.0;Initial Catalog=CatchMeDb;Integrated Security=True;Pooling=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localDB)\v11.0;Initial Catalog=CatchMeDb;Integrated Security=True;Pooling=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CatchMe.Repositories.EF.Concrete.CatchMeContext-Web.config Connection String">
      <ParameterValue>Server=tcp:catchme.database.windows.net,1433;Data Source=catchme.database.windows.net;Initial Catalog=catchme;Persist Security Info=False;User ID=OrestTkachuk;Password=Nrfxer2219245;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:catchme.database.windows.net,1433;Data Source=catchme.database.windows.net;Initial Catalog=catchme;Persist Security Info=False;User ID=OrestTkachuk;Password=Nrfxer2219245;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CatchMe.Repositories.EF.Concrete.CatchMeContext" />
  </ItemGroup>
</Project>