<form name="registerForm">
    <div class="mdl-grid" ng-controller="SignUpController as signUpVm">
        <div class="mdl-card mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-shadow--6dp centered">
            <div class="authentication-title">
                Register
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone mdl-cell--no-spacing">
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <input type="email" ng-model="signUpVm.registerData.Email" name="email" required>
                        <div ng-messages="registerForm.email.$error">
                            <div ng-message="required">Email is required.</div>
                            <div ng-message="email">E-mail is not valid.</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone mdl-cell--no-spacing">
                    <md-input-container class="md-icon-float md-block ">
                        <label>Password</label>
                        <input type="password" ng-model="signUpVm.registerData.Password" name="password" required>
                        <div ng-messages="registerForm.password.$error">
                            <div ng-message="required">Password is required.</div>                            
                        </div>
                    </md-input-container>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone mdl-cell--no-spacing">
                    <md-input-container class="md-icon-float md-block ">
                        <label>Confirm password</label>
                        <input type="password"
                               ng-model="signUpVm.registerData.ConfirmPassword"                               
                               compare-to="signUpVm.registerData.Password"
                               name="confirmPassword" 
                               required>
                        <div ng-messages="registerForm.confirmPassword.$error">
                            <div ng-message="required">Confirmation password is required.</div>                                                        
                            <div ng-message="compareTo">The password and confirmation password do not match.</div>       
                        </div>
                    </md-input-container>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone mdl-cell--no-spacing">
                    <md-input-container class="md-icon-float md-block ">
                        <label>Phone number</label>
                        <input type="text" ng-model="signUpVm.registerData.PhoneNumber"
                               name="phoneNumber"
                               ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[\s]?[0-9]{2}[-]?[0-9]{2}[-]?[0-9]{3}$/im"             
                               ui-br-phone-number                               
                               required>
                        <div ng-messages="registerForm.phoneNumber.$error">
                            <div ng-message="required">Phone number is required.</div>
                            <div ng-message="pattern">Phone number is not valid.</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-cell--no-spacing">
                    <md-input-container class="md-icon-float md-block">
                        <label>First name</label>
                        <input type="text" ng-model="signUpVm.registerData.FirstName" name="firstName" required>
                        <div ng-messages="registerForm.firstName.$error">
                            <div ng-message="required">First name is required.</div>                            
                        </div>
                    </md-input-container>
                </div>

                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-cell--no-spacing">
                    <md-input-container class="md-icon-float md-block">
                        <label>Last name</label>
                        <input type="text" ng-model="signUpVm.registerData.LastName" name="lastName" required>
                        <div ng-messages="registerForm.lastName.$error">
                            <div ng-message="required">Last name is required.</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent full-width"
                            ng-click="signUpVm.register(registerForm)"
                            ng-disabled="registerForm.$invalid">
                        Create account
                    </button>
                </div>
            </div>

            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <div class="text-centered">
                    <a href="/#/SignIn">Already a member? Login</a>
                </div>
            </div>
        </div>
    </div>
</form>