<?xml version="1.0"?>
<appSettings>  
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MapsApiDeveloperKey" value="AIzaSyCzs7aoYWw3JKBLn9-fmOlkmamJxbFIgNY" />
  <add key="StaticMapImageWidth" value="640" />
  <add key="StaticMapImageHeight" value="640" />  
</appSettings>